#page-container {
  margin: 50px auto;
}

#navbar .btn-group {
  margin: 8px 0;
}
#navbar button.btn a {
  padding: 0;
  color: black;
}

.video {
  margin: auto;
}
.video-labels a,
.video-labels a:hover,
.video-labels a:visited,
.video-labels a:focus {
  text-decoration: none
}
.video-labels span {
  display: inline-block;
  margin-top: 10px;
  height: 2em;
  line-height: 1.5;
}

a.with-icon {
    font-size: 16px;
    color: black;
    float: right;
}

form textarea {
  width: 100%;
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .video, .video video {
    width: 640px;
    height: 360px;
  }
}
@media (min-width: 1200px) {
  .video, .video video {
    width: 960px;
    height: 540px;
  }
}