#page-container {
    margin: 50px auto;
}

.video {
    margin: auto;
}

#navbar .btn-group {
  margin: 8px 0;
}
#navbar button.btn a {
  padding: 0;
  color: black;
}

a.with-icon {
    font-size: 16px;
    color: black;
    float: right;
}

@media (min-width: 768px) {
  .video, .video video {
    width: 640px;
    height: 360px;
  }
}
@media (min-width: 1200px) {
  .video, .video video {
    width: 960px;
    height: 540px;
  }
}